@value mediaQuery from '../../common/size.css';
@value makerLightGray, bgBlack, makerBlack, makerWhite, makerGreen from '../../common/colors.css';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 245px;
  height: 100%;
  z-index: 99;
  background-color: makerWhite;
  color: makerBlack;
  border-right: 1px solid makerLightGray;
  transition: transform 200ms ease-in-out;
}

.nav.show {
  width: 100%;
  transform: translateX(0);
}

.nav.light {
  background-color: makerWhite;
  color: makerBlack;
}

.nav.dark {
  background-color: bgBlack;
  color: makerWhite;
}

.logWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  border-bottom: 1px solid makerLightGray;
}

.title {
  margin: 0 10px;
  font-size: 1.5rem;
  text-align: center;
}

.logo {
  width: 60px;
}

.closeBtn {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.closeBtn.dark {
  color: makerLightGray;
}

.closeBtn:hover {
  opacity: 0.8;
}

.theme {
  position: relative;
  width: 100%;
}

.ul {
  padding: 50px 0;
}

.li {
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
}

.li:hover {
  background-color: makerLightGray;
}

.li.dark:hover {
  color: makerBlack;
}

.icon {
  margin-right: 10px;
}

.logout,
.logout.light {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: makerBlack;
  color: makerWhite;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.logout.dark {
  background-color: makerWhite;
  color: makerBlack;
}

.logout:hover {
  color: makerWhite;
  background-color: makerGreen;
}

@media screen and (max-width: mediaQuery) {
  .nav {
    transform: translateX(-245px);
  }

  .closeBtn {
    display: block;
  }
}
