@value makerBlack, makerWhite, makerLightGrey from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.preview {
  /* flex-basis: 50%; */
  padding: 0.5em 2em;
  overflow-y: auto;
  scrollbar-width: 6px;
  scrollbar-color: makerLightGrey transparent;
}

.preview::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.preview::-webkit-scrollbar-thumb {
  background-color: makerLightGrey;
}

.button {
  width: 100%;
  text-align: end;
  margin-bottom: 0.8em;
}

.newCardBtn {
  background-color: makerBlack;
  color: makerWhite;
  padding: 0.8em 1.2em;
  border: none;
  cursor: pointer;
}

.newCardBtn:hover {
  color: makerBlack;
  background-color: makerLightGrey;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}

.cards {
  width: 100%;
  padding: 0.5em 2em;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

@media screen and (max-width: mediaQuery) {
  .cards {
    flex-direction: column;
  }
}
