@value makerWhite, makerLightGrey, makerBlack, makerDarkGrey from '../../common/colors.css';

.todo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding-left: 245px;
}

.container {
  display: flex;
  flex: 1;
  min-height: 0;
}
