@value makerLightGrey, makerBlack, makerWhite, makerGreen  from '../../common/colors.css';
.wrapper,
.wrapper.light {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 60px;
  height: 29px;
  padding: 1.6px 6px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  background-color: makerLightGrey;
}

.wrapper.dark {
  background-color: makerGreen;
}

.button,
.button.light {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: makerGreen;
  transform: translateX(0px);
  transition: all 300ms ease-in-out;
}

.button.dark {
  background-color: makerLightGrey;
  transform: translateX(27px);
}
