@value mediaQuery from '../../common/size.css';
@value makerWhite, bgBlack, makerLightGray from '../../common/colors.css';

.wrapper {
  width: 100%;
  height: 100vh;
}

.maker {
  display: flex;
  flex-direction: column;
  padding-left: 245px;
}

.top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6em;
  padding: 2rem;
  display: flex;
  background-color: makerWhite;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.top.dark {
  background-color: bgBlack;
}

.title {
  width: 100%;
}

.menuBtn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.menuBtn.dark {
  color: makerLightGray;
}

.container {
  display: flex;
  flex: 1;
  min-height: 0;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }

  .maker {
    padding-left: 0;
  }
}
