@value mediaQuery from '../../common/size.css';
@value makerWhite, makerLightGrey, bgBlack, makerBlack, makerDarkGrey from '../../common/colors.css';

.todo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 245px;
  scrollbar-width: 6px;
  scrollbar-color: makerLightGrey transparent;
  flex: 1;
  min-height: 0;
}

.container {
  padding: 0.5em 2em;
  scrollbar-width: 6px;
  scrollbar-color: makerLightGrey transparent;
  margin: 0 auto;
  padding-bottom: 4em;
}

.button {
  width: 100%;
  text-align: end;
  margin-bottom: 0.8em;
}

.newTodoBtn {
  color: makerDarkGrey;
  font-size: 1.5em;
  margin-right: 1.2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.newTodoBtn:hover {
  color: makerBlack;
}

.top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6em;
  padding: 2rem;
  display: flex;
  background-color: makerWhite;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.top.dark {
  background-color: bgBlack;
}

.menuBtn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.menuBtn.dark {
  color: makerLightGrey;
}

/* .todos {
  width: 100%;
  padding: 0.5em 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding-top: 6em;
  padding-bottom: 3em;
} */

.todos {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(min-content, 32rem));
  overflow-x: hidden;
  padding: 0.8em 1em;
  padding-top: 6em;
}

@media screen and (max-width: mediaQuery) {
  .todos {
    grid-template-columns: repeat(1, minmax(min-content, 32rem));
  }

  .todo {
    padding-left: 0;
  }
}
